--find-links /usr/local/airflow/plugins
--no-index
--constraint "/usr/local/airflow/dags/constraints-3.11.txt"

apache-airflow-providers-snowflake==5.7.0
snowflake-sqlalchemy==1.6.1
pandas==2.1.4
snowflake-connector-python==3.12.1
